@import "tailwindcss";

@layer base {
  body {
    background-color: #FFF5F7;
    color: #292524;
    overflow-x: hidden;
  }
}

/* Custom scrollbar for horizontal chips */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
